div.flex-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

div.vid {
  width: 200px;
  display: block;
  overflow: hidden;
}
