div.flex-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

div.vid {
  max-width: 200px;
  _display: block;
  _overflow: hidden;
}
